
/*======= Responsive search input ========*/

@media (min-width: 768px) and
(max-width: 900px){
	.search-icon {
		.search-wrapper {
			.search-input-lg {
				width: 300px;
				&:focus {
					width: 380px;
				}
			}
		}
	}
}

@media (min-width: 900px) and
(max-width: 1024px){
	.search-icon {
		.search-wrapper {
			.search-input-lg {
				width: 350px;
				&:focus {
					width: 430px;
				}
			}
		}
	}
}

@media (min-width: 1024px) and
(max-width: 1200px){
	.search-icon {
		.search-wrapper {
			.search-input-lg {
				width: 480px;
				&:focus {
					width: 530px;
				}
			}
		}
	}
}

@media (min-width: 1200px) {
	.search-icon {
		.search-wrapper {
			.search-input-lg {
				width: 380px;
				&:focus {
					width: 460px;
				}
			}
		}
	}
}

.user-info {
	color: $hoz-nav-link-color;
	font-weight: 500;

	.top-sidebar {
		.sidebar-user-block {
			.rct-dropdown {
				cursor: pointer;
				.dropdown-menu {
					background-color: $base-light;
					width: 200px;
					ul {
						background-color: transparent;
						li:not(.user-profile-top) {
							box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.02);
							margin: 0.3125rem;
							a {
								background-color: $white;
								padding: 0.75rem 1rem;
								display: block;

								span:not(.badge) {
									color: $body-color;
									font-size: $font-size-sm;
									transition: color 0.3s ease;
								}
								&:hover {
									span:not(.badge) {
										color: $primary;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
